.owl-prev{
    position: absolute;
    top: 40%;
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #5c5c5c;
    cursor: pointer;
    padding: 0;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 10px rgba(54,54,54,0.15);
    box-shadow: 0 2px 10px rgba(54,54,54,0.15);
    line-height: 0;
    
    &::before {
        position: relative;
        content: "";
        font-size: 20px;
        width: 55px;
        height: 55px;
        line-height: 46px;
        display: inline-block;
    }

    .icon-prev {
        position: absolute;
        top: 17px;
        left: 20px;
        font-size: 2rem;
    }

    
}

.owl-next {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #5c5c5c;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 10px rgba(54,54,54,0.15);
    box-shadow: 0 2px 10px rgba(54,54,54,0.15);
    line-height: 0;

    &::before {
        position: relative;
        content: "";
        font-size: 20px;
        width: 55px;
        height: 55px;
        line-height: 46px;
        display: inline-block;
    }


    .icon-next {
        position: absolute;
        top: 17px;
        right: 20px;
        font-size: 2rem;
    }
}
