.heading-detail {
    font-weight: 600;
    font-size: 1.8rem;
    color: #212529;
    margin-bottom: 15px;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: .6;
}