.product-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 40px;
}

.product-content {
  position: sticky;
  top: 15%;
  padding-left: 10px;
  margin: 0 auto;
}
.product-title {
  padding: 0 0 10px;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 5px;
    line-height: initial;
    text-transform: capitalize;
  }

  p {
    display: flex;
    margin-bottom: 0;
    font-size: 1rem;

    span {
      font-size: inherit;
      font-weight: 400;
      color: var(--text-color);
      padding: 0 2px;
    }
  }
}

.product-price {
  padding: 10px 0;
  margin-bottom: 10px;

  .pro-price {
    font-size: 1.8rem;
    font-weight: bold;
  }

  del {
    font-size: 1.5rem;
    color: #777a7b;
    padding-left: 10px;
    font-weight: 500;
  }
}

.variant {
  .color {
    padding: 10px 0px;
    width: 100%;
  }

  .size {
    padding: 10px 0px;
    width: 100%;
  }

  .select-swap {
    display: flex;
    vertical-align: middle;

    .hideSize {
      position: relative;
      &::before {
        position: absolute;
        top: -8px;
        content: "";
        width: 1px;
        background-color: #000;
        height: 137%;
        transform: rotate(45deg);
        opacity: 0.8;
      }

      &::after {
        position: absolute;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    .swatch-element {
      position: relative;
      margin-right: 8px;
      vertical-align: bottom;
      min-width: 44px;
      height: 44px;
      border: 1px solid #e6e7e8;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #fff;

      input {
        display: none;
      }

      .block-select {
        width: 30px;
        height: 30px;
        margin-bottom: 0;
        border-radius: 50%;
        border: 1px solid #808284;
        cursor: pointer;

        span {
          background-color: #c47a4a;
          display: block;
          width: 100%;
          height: 100%;
          margin-top: 0;
          font-size: 0;
          border-radius: 50%;
          border: 1px solid #f5f5f5;
        }
      }

      .block-select-size {
        margin-bottom: 0;
        cursor: pointer;
        background-color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 4.3rem;

        span {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
      }
    }
    .active-size {
      background-color: #000;
      padding: 0 !important;
      span {
        display: block;
        color: #fff;
        background-color: #000;
      }
    }
    .selector {
      border: 1px solid #808284;
    }
  }
}

.quantity {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.title {
  margin-right: 10px;
  font-size: 1.5rem;
}
.input-group {
  display: inline-block;
  .qty-btn {
    float: left;
    background: var(--white);
    border: 1px solid #6c757d;
    cursor: pointer;
    outline: none;
    height: 45px;
    width: 45px;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0px;
    border-radius: 0;
  }

  .quantity-selector {
    background: #fff;
    font-weight: 600;
    height: 45px;
    padding: 0;
    text-align: center;
    width: 75px;
    border: 1px solid #6c757d;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    color: var(--black);
    font-size: 1.5rem;
  }
}

.wrap-btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.wrap-add-cart {
  width: 60%;
  padding-right: 10px;

  .out-row {
    opacity: 0.6;
  }
}

.cart-btn {
  width: 100%;
  z-index: 1;
  position: relative;
  font-weight: 400;
  color: #212529 !important;
  padding: 10px 40px;
  outline: none;
  border: 1px solid var(--grey);
  background-color: var(--white);
  transition: all 0.25s ease-in-out;
  font-size: 1.8rem;
  text-transform: inherit;
  border-radius: 4px;
}

.wrap-add-order {
  width: 60%;
  .out-row {
    opacity: 0.6;
  }
}
.btn-buy {
  width: 100%;
  z-index: 1;
  position: relative;
  font-weight: 400;
  color: #fff !important;
  padding: 14px 40px;
  outline: none;
  border: 1px solid var(--grey);
  background-color: var(--black);
  transition: all 0.25s ease-in-out;
  font-size: 1.8rem;
  text-transform: inherit;
  border-radius: 4px;
}

.clear {
  clear: both;
}

.product-detail {
  position: relative;
  height: 100%;
}

.process_product {
  margin-top: 35px;
}

.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-button {
  background-color: transparent;
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
    font-size: 3rem;
  }

  span {
    font-size: 1.6rem;
    color: #212529;
  }
}
