.site-nav-search {
  padding: 60px 70px 250px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;

  .title {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

form {
  height: initial !important;
  margin-top: 40px;
}

.search-menu {
  background: rgba(0, 0, 0, 0.1);
  height: 50px;
  display: flex;
  position: relative;

  .clear,
  .loading {
    position: absolute;
    padding: 0;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(137, 132, 132, 0.5);
    background: none;
    font-size: 1.3rem;
  }

  .loading {
    animation: spinner 0.9s linear infinite;
  }

  input {
    background: none;
    width: 100%;
    font-size: 1.6rem;
    caret-color: rgba(255, 59, 92, 1);
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    padding: 0 70px 0 10px;
    border-radius: 0;
  }

  input:focus {
    background: #f2f5fa;
    outline: none;
  }

  .search-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
  }
}

.result-search {
  position: absolute;
  width: 361px;
  right: -150px;
  top: 55px;
  margin-top: 6px;
  background: rgb(37, 37, 37);
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden auto;
  list-style-type: none;
  padding-inline-start: 0px;

  .all-result {
    color: #fff;
    text-align: center;
    padding-top: 4px;
    font-size: 1.5rem;
  }
}

.wrap-search .list-search {
  width: 100%;
  padding: 10px 15px;
}

.results-more {
  text-align: center;
  a {
    display: block;
    font-size: 1.6rem;
    color: #000000 !important;
    opacity: 0.8;
    font-weight: 400;
    cursor: pointer;
  }
  &:hover {
    text-decoration: underline;
  }
}

.results-content {
  .data-empty {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
  }
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
