
.breadcrumb-shop {
        background-color: #fafafa;
        margin-bottom: 20px;
        border: 1px solid #e7e7e7;
        margin-top: 20px;

       

            .breadcrumb {
                padding: 15px 0;       
                background-color: transparent;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;

                    &:not(:first-child)::before {
                        content: '/';
                        color: #ccc;
                        padding: 0 5px;
                    }

                   a {
                    display: inline-block;
                    span {
                        font-size: 1.5rem;
                        font-weight: 300;
                        text-transform: capitalize;
                    }
                   }
                }
            }
    }


    // list product
    .list-collections {
        margin-bottom: 40px;
        
            .hed-title{
                flex-wrap: nowrap;
                margin: 10px 0;

                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .select{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    span {
                        select {
                            font-size: 1.4rem;
                            background-color: var(--white);
                            color: var(--back );
                            border-color: transparent;
                            border-bottom: 1px solid var(--black);
                            padding-bottom: 5px;
                            outline: 0;
                        }
                    }
                }
            }


            // product
            .product-img {
                text-align: center;
                position: relative;
                overflow: hidden;

                .img-resize {
                    height: 295px;
                    display: block;
                }

                picture {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .product-details{
                text-align: center;
                a {
                    text-decoration: none;

                    
                }
                h2 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.6rem;
                    margin: 5px 0;
                    text-transform: capitalize;

                    &:hover {
                        color: #4eb5ec;
                    }
                }

                .product-price{
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    .price-del {
                        del {
                            margin-left: 5px;
                            font-size: 1.4rem;
                            opacity: .7;
                        }
                    }
                }
            }
    }

// Phân trang

.custom-pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;

    .custom-pagination__active {
        opacity: 1 !important;
    }

    .custom-pagination__disabled {
        display: none !important;
    }

    .custom-pagination__item {
        display: block;
        font-size: 1.8rem;
        // color: var(--back);
        text-decoration: none;
        opacity: 0.5;
        padding: 10px;

        a {
            text-decoration: none;
        }

        .custom-pagination__link {
            font-size: 1.8rem;
            color: var(--back);
            font-weight: bold;
            text-decoration: none;
            padding: 0 10px;
        }

    }
  }
