.sidebar-content {

    .order-summary-selection {
        .product-table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            font-size: 1em;
            margin-bottom: 10px;
            border-bottom: 1px solid;
            padding-top: 1.5em;
            padding-bottom: 16px;
            border-color: #e1e1e1;
            
            .product-item {
                display: flex;
                align-items: center;
            }

            .product-img {
                width: 70px;
                height: 70px;
                border-radius: 8px;
                background: #fff;
                position: relative;

                .product-thumbnail-wrapper {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    border-radius: 8px;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                        object-fit: cover;
                    }

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        border-radius: 8px;
                        box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
                    }
                }

                .product-thumbnail-quantity {
                    font-size: 1.2rem;
                    font-weight: 500;
                    white-space: nowrap;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background-color: rgba(153,153,153,1);
                    color: #fff;
                    position: absolute;
                    right: -9px;
                    top: -11px;
                    z-index: 2;
                    display: flex;
                    padding: 2px;
                    align-items: center;
                    justify-content: center;
                }
            }

            .product-description {
                padding-left: 15px;
                flex: 1;

                .name {
                    font-size: 1.4rem;
                    color: var(--text-color);
                    text-transform: capitalize;
                }
                
                .item-desc {
                    font-size: 12px;
                    color: #777;
                    margin-top: 3px;
                    text-transform: capitalize;
                }

            }
            .product-price {
                justify-content: flex-end;
                span {
                    font-size: 1.4rem;
                    color: var(--text-color);
                    font-weight: 400;
                }
            }

           
        }

        .payment-lines {
            width: 100%;

            .title {
                padding: 15px 0;
                border-bottom: 1px solid #dfdcdc;
                p {
                    font-size: 1.4rem;
                    color: var(--text-color);
                    span {
                        float: right;
                    }
                }
            }

            .total{
                h2 {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: var(--text-color);
                    padding-top: 20px;
                    span {
                        font-weight: 400;
                        float: right;
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }
}