.item {
    min-height: 250px;
    a {
        width: 100%;
        position: relative;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            opacity: 1;
        }

        & img + img {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        .name-product {
            font-size: 1.6rem;
            margin: 20px 0;
            color: #000;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    &:hover {
        cursor: pointer;
        transition: all .5s
    };

    &:hover > a > .img-block > img {
        opacity: 0;
        transition: opacity .1s ease-in-out;
        -webkit-transition: opacity .1s ease-in-out;
    }

    &:hover > a > .img-block >img + img{
        opacity: 1;
        transition: opacity .1s ease-in-out;
        overflow: hidden;
        -webkit-transition: opacity .1s ease-in-out;
    }
}


.productHotSwiper .swiper-wrapper {
    padding-bottom: 5rem !important;
}

.productHotSwiper .swiper-button-next, .productHotSwiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.1);
    color: #fff !important;
    border-radius: 40px;
    opacity: 1;
    top: 42%;
}

.productHotSwiper .swiper-button-next:after, .productHotSwiper .swiper-button-prev:after {
    font-size: 16px;
}

.productHotSwiper .swiper-button-next:hover, .productHotSwiper .swiper-button-prev:hover {
    background: #fff;
    color: #000 !important;
}

.swiper-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 2px !important;
    width: 98%;
}

.swiper-horizontal > .swiper-scrollbar {
    height: 2px;
    width: 100%;
}

.swiper-scrollbar-drag {
    background: #000 !important;
}
