@import './../../components/GlobalStyles/GlobalStyle.scss';

// product
 .product-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .img-resize {
        height: 295px;
        display: block;
    }

    picture {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
            opacity: 1;
        }

        & img + img {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &:hover {
        cursor: pointer;
        transition: all .5s
    };

    &:hover > a > picture > img {
        opacity: 0;
        transition: opacity .1s ease-in-out;
        -webkit-transition: opacity .1s ease-in-out;
    }

    &:hover > a > picture >img + img{
        opacity: 1;
        transition: opacity .1s ease-in-out;
        overflow: hidden;
        -webkit-transition: opacity .1s ease-in-out;
    }
}

.pro-name{
    padding-bottom: 6px;
    font-weight: 500;
    text-transform: capitalize;

    .conformName {
        color: var(--black);
        font-size: 1.5rem;
        font-family: var(--font-family-text);
        font-weight: 500;
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: #4eb5ec;
        }

    }
}

.box-pro-detail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    
    .product-price{
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        .price-del {
            del {
                margin-left: 5px;
                font-size: 1.4rem;
                opacity: .7;
            }
        }
    }
}


// Responsive

@media #{$mobile-size} { 
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
}