 // product
 .product-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .img-resize {
        height: 295px;
        display: block;
    }

    picture {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
            width: 100%;
        }
    }
}

.product-block {
    padding: 5px 10px;
}

.pro-name{
    padding-bottom: 6px;
    font-weight: 500;
    text-transform: capitalize;

    .conformName {
        color: var(--black);
        font-size: 1.5rem;
        font-family: var(--font-family-text);
        font-weight: 500;
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: #4eb5ec;
        }

    }
}

.box-pro-detail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    
    .product-price{
        font-size: 1.8rem;
        font-weight: 600;
        .price-del {
            del {
                margin-left: 5px;
                font-size: 1.4rem;
                opacity: .7;
            }
        }
    }
}