.step {
    width: 100%;
    padding-bottom: 4em;
}


.title-delivery {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    opacity: .8;
}

form {
    margin-top: 0 !important;
}


.clear {
    clear: both;

}
.change-pick {

    .section-header h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--text-color);
        padding-bottom: 10px;
    }

    .section-content {
        h2 {
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--text-color);
            padding-bottom: 10px;
        }

        .radio-wrapper {
            box-shadow: 0 0 0 1px #d9d9d9;

            .radio-content {
                padding: 20px;
                display: flex;
                align-items: center;

                .radio-input {
                    width: 18px;
                    height: 18px;
                    box-shadow: 0 0 0 0 #338dbc inset;
                    transition: all 0.2s ease-in-out;
                    position: relative;
                    cursor: pointer;
                    vertical-align: -4px;
                    outline: 0;
                    border: solid 1px #d9d9d9;
                }

                .radio-label {
                    padding-left: 10px;
                    font-size: 1.3rem;
                    color: var(--text-color);
                }

                .radio-price {
                    margin-left: auto;
                    font-size: 1.3rem;
                    color: var(--text-color);
                }
            }
        }
    }
}


form {
    padding: 0;
    height: 0;
}

.field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
    padding-left: 0;
}

.field-input-wrapper {
    position: relative;
}

.filed-label {
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 8px;
    color: var(--text-color);
    margin-top: 2px;
}

.field-input {
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 22px 10px 7px 0.8em;
    font-size: 1.2rem;
}

.field-two-thirds {
    width: 49.66667% !important;
}

.field-third {
    width: 33.33333% !important;
}

.clear {
    clear: both;
}

.btn-complete {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    float: right;
    background-color: var(--black);
    color: #fff;
    font-weight: 600;

    &:hover {
        opacity: .7;
    }
}



// Select Country
.select-custom-group {
    position: relative;
    cursor: pointer;
}

.select-custom-country{
    padding: 13px;
    border-radius: 5px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    border: 1px solid #ced4da;
    color: #212529;
    position: relative;

    i{
        position: absolute;
        right: 15px;
        top: 12px;
    }
}

.country-options {
    width: 100%;
    min-height: 300px;
    background: #fff;
    margin-top: 10px;
    border: 0.5px solid #ced4da;
    box-sizing: border-box;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 9999;
    display: none;
}
.show {
    display: block;
}


.header-tabs {
    margin-bottom: 5px;
}

.menu-tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    .active{
        color: #000;
        border-bottom: 1px solid #000;
    }
}

.tab-city, .tab-district {
    padding: 10px;
    font-size: 15px;
    color: #6d6e6e;
    font-weight: 700;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    
}

.list-country {
    height: 326px;
    overflow: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
}

.item-list {
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.step-footer {
    margin-top: 15px;
}

.btn-complete {
    padding: 20px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    float: right;
    background-color: #286f94;
    color: #fff;

    &:hover {
        opacity: .7;
    }
}