
.tab-item {
    // display: none;
    cursor: pointer;
}

.listProduct {
    margin-bottom: 20px;
    position: relative;
    
    .owl-stage-outer {
        // overflow: hidden;
    }
    

    .owl-stage {
        // display: flex;
        // flex-wrap: nowrap;
        
        .owl-item {
            // width: 230px;
            padding: 10px;
            // width: 100%;
            position: relative;
            // overflow: hidden;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            animation-fill-mode: both;
            

            .product-items {
                box-shadow: 2px 2px 11px hsla(0,3%,7%,.1);
                border-radius: 4px;

                .product-img{
                    width: 100%;
                    position: relative;
                    border-radius: 4px;
                    padding: 10px;
                    background: #fff;
                    overflow: hidden;
                    
                    &:hover .image-resize{
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }

                    img{
                        border-radius: 4px;
                        margin: 0 auto;
                    }
        
                    .image-resize{
                        width: 90%;
                        height: 90%;
                        object-fit: contain;
                        overflow: hidden;
                        position: relative;
                        transition: all .5s ease;
                    }
                }
        
                .product-detail{
                    padding: 5px 10px;
                    background-color: var(--white);
                    border-radius: 4px;
        
                    .pro-name{
                        padding-bottom: 8px;
        
                        a {
                            color: var(--black);
                            font-size: 1.5rem;
                            font-weight: 500;
                            text-transform: capitalize;
                            letter-spacing: 1.2px;
                            line-height: 1.6rem;
                            cursor: pointer;
                            text-decoration: none;
    
                            &:hover {
                                color: #4eb5ec;
                            }
                        }
                    }
        
                    .box-pro-detail{
                        width: 100%;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 4px;
                        .pro-price{
                            color: var(--price-color);
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: var(--black);
        
                            .pro-price-del{
                                margin-left: 5px;
                                font-size: 1.3rem;
                                font-weight: normal;
                                color: var(--text-color);
                            }
                        }

                        .add-cart {
                            align-items: center;
                            background: transparent;
                            border: 1px solid #003644;
                            border-radius: 3px;
                            box-sizing: border-box;
                            color: #003644;
                            cursor: pointer;
                            display: flex;
                            height: 26px;
                            justify-content: center;

                            span {
                                padding-left: 3px;
                            }
                        }

                    }
                }
            }

        }
    }

    
}


.collection-viewAll{
    text-align: center;
    margin-top: 50px;
    a {
        display: inline-block;
        z-index: 1;
        position: relative;
        color: var(--text-color) !important;
        padding: 10px 30px;
        outline: none;
        border: 1px solid var(--grey);
        background-color: transparent;
        transition: all 0.25s ease-in-out;
        font-size: 1.6rem;
        text-transform: uppercase;
        border-radius: 4px;
        

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            background-color: var(--black);
            transform-origin: center right;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
          }
        
          &:hover {
            cursor: pointer;
            color: #ffffff;
          }
        
          &:hover::before {
            transform-origin: center left;
            transform: scaleX(1);
        }
    }
}


// .App {
//     font-family: sans-serif;
//     text-align: center;
// }
.slick-track {
    display: flex;
}
.slick-slider {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.slick-slide {
    padding-right: 10px;
}

.slick-slide:last-child {
    padding-right: 0;
}
.slick-slide img {
    display: block;
}
.slick-list {
    margin: 0 15px;
}
.slick-prev:focus,
.slick-prev:hover,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: tomato;
}
.product-actions {
    display: flex;
    justify-content: space-between;
}
 

