.container-related {
  margin-bottom: 40px;
}

.heading-detail {
  font-weight: 600;
  font-size: 2.6rem;
  color: #212529;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.6;
}
