.site-cart::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}

.site-cart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 480px;
  background-color: #fff;
  z-index: 1005;
  transform: translateX(-100%);
  transition: all 300ms linear;
  scrollbar-width: none;
  overflow-y: scroll;

  &.active {
    transform: translateX(0);
  }

  @include global.mobile {
    width: 100%;
  }
}

.hamburger-menu {
  position: absolute;
  top: 6px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.bar {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: var(--black);
    transform: rotate(-45deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: var(--black);
    transform: rotate(45deg);
  }
}

.site-nav-search {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.site-header-text {
  font-size: 2rem;
  font-weight: 400;
  color: var(--black);
  padding: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #e6e7e8;
}

.wrap-modal-content {
  margin-left: 10px;
}
