@import './../../../components/GlobalStyles/GlobalStyle.scss';

.banner-web {
    position: relative;
    a{
        display: block;
        img {
            width: 100%;
        }
    }
}

.category-hot {
    margin-bottom: 60px;
}

.block-content {
    position: absolute;
    left: 0;
    bottom: 8%;
    padding-left: 40px;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.block-heading {
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: CriteriaCF-DemiBold;
}

.block-button {
    width: 100%;
    display: flex;
    align-items: center;
    & a {
        font-weight: 400;
        font-size: 1.8rem;
        font-family: CriteriaCF-DemiBold;
        line-height: 20px;
        background-color: #000;
        padding: 18px 35px;
        border-radius: 50px;
        color: #fff;
    }

    &:hover {
        opacity: .8;
    }
}

.homepage-care-share {
    margin-top: 40px;
    margin-bottom: 40px;
}

.homepage-care {
    position: relative;

    & a {
        background-color: transparent;
        text-decoration: none;
        color: inherit;
        transition: all .2s;
    }
}

.homepage-image {
    & img {
        width: 100%;
        height: 100%;
    }
}


.homepage-care-image {
    & img{
        width: 100%;
        height: 100%;
    }
}


.homepage-content {
    position: absolute;
    left: 40px;
    bottom: 8%;

    & img {
        object-fit: contain;
        object-position: left;
        width: 50%;
    }

    & h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: CriteriaCF-DemiBold;
        color: #fff;
        text-transform: inherit;
        letter-spacing: 2px;
    }
}

.homepage-button {
    width: 100%;
    display: flex;
    align-items: center;
    & a {
        font-weight: 400;
        font-size: 1.4rem;
        font-family: CriteriaCF-DemiBold;
        line-height: 20px;
        background-color: #fff;
        text-transform: uppercase;
        padding: 18px 35px;
        border-radius: 50px;
        color: #000;
    }

    &:hover {
        opacity: .8;
    }
}

.homepage-branch {
    position: relative;
    margin-bottom: 50px;
}

.branch-item {
    width: 100%;
    height: 100%;
    border-radius: 2px;

    & img {
        width: 100%;
        border-radius: 2px;
    }
}

.branch-content {
    position: absolute;
    left: 40px;
    bottom: 8%;

    & p {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: hsla(0,0%,100%,.7098039216);
        letter-spacing: .1em;
    }

    & img {
        object-fit: contain;
        object-position: left;
        width: 50%;
    }

    & h2 {
        font-size: 6rem;
        font-weight: 400;
        font-family: CriteriaCF-DemiBold;
        color: #fff;
        text-transform: uppercase;
        line-height: 7rem;
        margin-bottom: 20px;
    }
}

.collection-item:hover {
    filter: brightness(80%);
}

.collection-thumbnail {
    width: 100%;

    & img {
        width: 100%;
    }
}

.wrapper-home-collection {
    padding-top: 40px;
}

.container-main{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.shopify-section {
    margin: 30px 0;
}

// 2
.wrapper-home-banner{
    width: 100%;
    padding: 0 5px;
    margin-top: 20px;

    .container-full{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        
        .block-banner {
            overflow: hidden;
            position: relative;

            &:hover .img-group::after {
                opacity: 0.5;
                cursor: pointer;
            }

            &:hover img{
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

            .img-group::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: #000;
                transition: opacity 200ms linear, background 200ms linear;
            }

            .img-banner{
                width: 100%;
                height: 466px;
                object-fit: cover;
                transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94),-webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }


        
        
        
    }
}

// News

.wrapper-home-news {
    margin: 40px 0;

        .title-modules{
            position: relative;
            text-align: left;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 25px;

            &::before {
                content: '';
                width: 100% ;
                height: 1px ;
                background-color: #ebebeb;
                position: absolute;
                left: 0 ;
                top: 18px ;
            }

            a {
                display: inline-block;
                font-weight: inherit;
                position: relative;
                background-color: var(--white);
                padding-right: 20px;
                z-index: 233;
                line-height: 35px;
                text-transform: uppercase;
            }
        }

        .section{
            width: 99%;

            .item {
                padding: 0 4px;
            }
            
            .block-item{
                width: 100%;
                a{
                    display: block;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
    }
}

.item__cate {
    min-height: 250px;
    a {
        width: 100%;
        position: relative;
        cursor: pointer;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
        }

        & img + img {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

    }
}

.name-product {
    font-size: 1.6rem;
    margin: 20px 0;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

@keyframes identifier  {
    0% {
        opacity: 0;
      }
      30% {
        opacity: 0.3;
      }
      68%,
      72% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
}

// Responsive 
@media #{$mobile-size} {
    .hide-sm {
        display: none;
    }

    .block-content {
        padding-left: 10px;
        align-items: flex-start;
    }

    .block-heading {
        font-size: 4rem;
        line-height: 4rem;
    }

    .block-button a {
        display: block;
        font-weight: 400;
        font-family: CriteriaCF-DemiBold;
        line-height: 20px;
        background-color: #ffffff;
        border-radius: 50px;
        color: #000000;
    }

    .branch-item {
        margin-top: 10px;
    }

    .branch-content h2 {
        font-size: 3rem;
        line-height: normal;

    }

    .homepage-image {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        padding: 2.5rem 1.5rem;
        top: 0;
        left: 0;

        &::before {
            content: "";
            padding-top: 175.75%;
            display: block;
        }

        & img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-image {
        position: relative;
        &::before {
            content: "";
            padding-top: 175.75%;
            display: block;
        }

        & img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .homepage-content {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        padding: 2.5rem 1.5rem;
        top: 0;
        left: 0;

        & h2 {
            margin-bottom: 20px;
        }
    }

    .homepage-button {
        width: 100%;
        
        & a {
            font-weight: 400;
            font-size: 1.5rem;
            font-family: CriteriaCF-DemiBold;
            line-height: 20px;
            background-color: #fff;
            text-transform: uppercase;
            padding: 18px 20px;
            border-radius: 50px;
            color: #000;
        }
    }

    .button-full {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collection-item {
        margin-bottom: 15px;
    }
}


@media #{$tablet-size} {
    .branch-content h2 {
        font-size: 3rem;
        line-height: normal;
    }

    .branch-item {
        margin-top: 20px;
    }
    
    .block-heading {
        font-size: 5rem;
        line-height: 5rem;
    }

    
}

@media #{$desktop-size} {
    .hide-md {
        display: none;
    }  
}