@import "normalize.css";

:root {
  --black: #000;
  --while: #fff;
  --text-color: #555;
  --color-main: #fff;
  --price-color: rgb(230, 153, 153);
  --grey: #333;
  --color-footer: #000000;
  --color-price: #ff2c26;
  --color-price-del: #878c8f;

  --background-color-main: #f9fafa;

  --width-site-cart: 480px;

  --pd-top-header: calc(var(--height-body-header) + var(--height-top-header));

  // font
  --font-family: "svgGilroy", sans-serif;
  --font-family-text: "svgGilroy", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  box-sizing: border-box !important;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: "optimizespeed";
  overflow-y: overlay;
  overflow-x: hidden;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(var(--text-color));
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

// Font embedded
@font-face {
  font-family: Quicksand;
  src: url("/src/assets/fonts/6xKtdSZaM9iE8KbpRA_hK1QN.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Quicksand;
  src: url("/src/assets/fonts/6xKtdSZaM9iE8KbpRA_hK1QN.woff2");
  font-weight: 600;
}

@font-face {
  font-family: Quicksand;
  src: url("/src/assets/fonts/6xKtdSZaM9iE8KbpRA_hK1QN.woff2");
  font-weight: 800;
}

@font-face {
  font-family: Space Grotesk;
  src: url("/src//assets//fonts//V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7oUXskPMA.woff2");
  font-weight: 800;
}

@font-face {
  font-family: GT;
  src: url("/src/assets/fonts/GT.woff");
  font-weight: 800;
}
@font-face {
  font-family: SVN-Gilroy;
  src: url("/assets/fonts/SVN-Gilroy\ SemiBold.otf");
  font-weight: 400;
}

@font-face {
  font-family: SVN-Gilroy;
  src: url("/assets/fonts/SVN-Gilroy\ SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: SVN-Gilroy;
  src: url("/assets/fonts/SVN-Gilroy\ SemiBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: svgGilroy;
  src: url("/assets/fonts/GT.woff");
  font-weight: 400;
}

@font-face {
  font-family: CriteriaCF;
  src: url("/src/assets/fonts/CriteriaCF-ExtraBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: CriteriaCF;
  src: url("/src/assets/fonts/CriteriaCF-ExtraBold.otf");
  font-weight: 400;
}

@font-face {
  font-family: "CriteriaCF-DemiBold";
  src: url("/src/assets/fonts/CriteriaCF-DemiBold.otf");
  font-weight: 600;
}

.conformName {
  white-space: normal;
  color: #000000;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  word-break: break-all !important;
}

.MuiInputLabel-root {
  font-size: 1.4rem !important;
}

.MuiOutlinedInput-root input {
  color: #000;
  padding: 22px 14px;
  font-size: 1.6rem;
}

// Swipper css
.productHotSwiper .swiper-wrapper {
  padding-bottom: 5rem !important;
}

.productHotSwiper .swiper-button-next,
.productHotSwiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff !important;
  border-radius: 40px;
  opacity: 1;
  top: 42%;
}

.productHotSwiper .swiper-button-next:after,
.productHotSwiper .swiper-button-prev:after {
  font-size: 16px;
}

.productHotSwiper .swiper-button-next:hover,
.productHotSwiper .swiper-button-prev:hover {
  background: #fff;
  color: #000 !important;
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 2px !important;
  width: 98%;
}

.swiper-horizontal > .swiper-scrollbar {
  height: 2px;
  width: 100%;
}

.swiper-scrollbar-drag {
  background: #000 !important;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@include global.mobile {
  .container {
    max-width: 540px;
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .swiper-wrapper {
    flex-direction: row !important;
  }
}

@include global.tablet {
  .container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  body.locked-scroll {
    overflow: hidden;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
