.field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
    position: relative;
}



label {
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 8px;
    color: var(--text-color);
    margin-top: 8px;
}

input {
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 22px 10px 7px 0.8em;
    font-size: 1.2rem;
}

.field-two-thirds {
    width: 49.66667% !important;
}

.field-third {
    width: 33.33333% !important;
}
