.content-body {
    width: 100%;
    padding: 0 40px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);

    .title-body {
        padding: 10px 0;
        border-bottom: 1px solid #aaa8a8;

        h1 {
            margin: 0;
            font-size: 2rem;
            font-weight: 600;
            color: #333;
        }
        div {
            font-size: 1.4rem;
            font-weight: 500;
            color: #555;
        }
    }

    .box-content {
        padding: 50px;

        .information {
            // border-right: 1px solid #aaa8a8;
        }
        table {
            tr {
                display: flex;
                justify-content: center;
                align-items: center;
                td {
                    float: left;
                    display: inline-block;
                }
                .title {
                    color: rgba(85,85,85,.8);
                    overflow: hidden;
                    padding-bottom: 30px;
                    white-space: nowrap;
                    min-width: 20%;

                    label {
                        text-align: right;
                        color: rgba(85,85,85,.8);
                        white-space: nowrap;
                        font-size: 1.4rem;
                    }
                }

                .info {
                    box-sizing: border-box;
                    padding-left: 20px;
                    padding-bottom: 30px;
                    width: 100%;

                    
                }
            }

            .box-gender {
                display: flex;

                .info {
                    display: flex;

                    .gender {
                        display: flex;
                        margin-right: 20px;
                        align-items: center;

                        input {
                            box-shadow: none !important;
                        }

                        span {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        .content-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .img-right {
                width: 200px;
                height: 200px;

                .user-avatar {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .upload {
                input {
                    display: none;
                    box-shadow: none;
                    background-color: transparent;
                }

                .btn--inline {
                    outline: 0;
                    background: #fff;
                    color: #555;
                    border: 1px solid rgba(0,0,0,.09);
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
                    position: relative;
                    overflow: visible;
                    height: 40px;
                    padding: 0 20px;
                    min-width: 70px;
                    max-width: 220px;
                    font-size: 1.3rem;
                    margin-top: 10px;
                }

            }
        }

       .div-button {
            display: flex;
            justify-content: flex-end;

            .submit-profile {
                padding: 8px 20px;
                font-size: 1.2rem;
            }
       } 
    }
}