@import './../../../../components/GlobalStyles/GlobalStyle.scss';

.header-top {
    height: var(--height-top-header);
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-item{
    position: relative;
    float: right;
    line-height: 40px;
    display: flex;
    justify-content: space-between;    
    .nav {
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        margin-bottom: 0;

        .sure {
            width: 1px;
            height: 15px;
            background-color: var(--while);
            margin: 0 8px;
        }
        li {
            color: var(--while);
            list-style: none;
            font-size: 1.5rem;
            font-weight: 400;
            cursor: pointer;
            
            .account-menu {
                padding-left: 10px;
            }
            
            .login {
                color: var(--while);
            }

            a {
                font-size: 1.5rem;
                text-decoration: none;
                color: var(--black);
                font-weight: 500;
                padding: 0;
            }

            .icon-header{
                padding-left: 6px;
            }

            &:hover>ul {
                display: block;
            }  
            
            ul {
                position: absolute;
                top: 40px;
                right: 0;
                padding-left: 0;
                background: #fff;
                z-index: 444;
                min-width: 250px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                display: none;
                text-decoration: none;

                li{
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-left: 0;
                    list-style: none;
                    cursor: pointer;
                    border-radius: 4px;

                    &:hover {
                        opacity: .6;
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                        display: block;
                        padding: 0;
                        padding-left: 15px;
                        font-size: 1.6rem;
                        font-weight: 400;
                    }

                    button {
                        display: block;
                        width: 100%;
                        padding-left: 15px;
                        background: transparent;
                        font-weight: 400;
                        
                        span {
                            display: block;
                            float: left;
                            font-size: 1.5rem;
                            font-size: 1.6rem;
                            color: #000;
                            padding-bottom: 10px;
                        }
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

.sticky-header header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    -webkit-animation: sticky_header_animation .3s;
    -moz-animation: sticky_header_animation .3s;
    -ms-animation: sticky_header_animation .3s;
    -o-animation: sticky_header_animation .3s;
    animation: sticky_header_animation .3s;
}

.wrapper-header {
    --search-button-width: 60px;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--white);
    width: 100%;
    z-index: 333;
    -webkit-box-shadow: 0 -1px #e7e7e7 inset;
    box-shadow: 0 -1px #e7e7e7 inset;

    // & .container {
    //     padding: 0 64px;
    // }

    .header-body {
        height: var(--height-body-header);
        // justify-content: space-around;

        .header-logo{
            .image-header{
                width: 80%;
                height: 70px;
            }
        }
    }
}

    

    .action{
        display: flex;
        justify-content: flex-end;
    }

    .header-action{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .action-item{
        padding-left: 20px;
        a {
            display: block;

            .icon-search {
                font-size: 1.4rem;
            }
        }
       
        &:hover {
            cursor: pointer;
        }
    }
    .div-cart {
        position: relative;
        .count-cart {
            position: absolute;
            top: -8px;
            right: -5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            
            span {
                font-size: 1rem;
                color: #fff;
            }   
        }
    }

    .icon-cate {
        font-size: 2rem;
    }

    .icon-header{
        font-size: 2.5rem;
        color: var(--white);
    }

    .navbar-main {
        height: 100%;
        .list-main{
            display: inline-block;
            line-height: 69px;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;
            transition: all .2s ease;
        }

    }

    .icon-cart {
            color: var(--black);
    }


@keyframes sticky_header_animation {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

// Responsive 
@media #{$mobile-size} {
    .hide {
        display: none;
    }
}

@media #{$tablet-size} {
    .image-header {
        object-fit: contain;
        width: 100%;
    }
    .hide {
        display: none;
    } 
    .list-main {
        text-align: center;
    }
}

@media #{$desktop-size} {
    .hide {
        display: block;
    } 

    .show-cate {
        display: none;
    }
}