
.breadcrumb-shop {
    background-color: #fafafa;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;

   

        .breadcrumb {
            padding: 15px 0;       
            background-color: transparent;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: inline-block;

                &:not(:first-child)::before {
                    content: '/';
                    color: #ccc;
                    padding: 0 5px;
                }

               a {
                display: inline-block;
                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-transform: none;
                }
               }
            }
        }
}


// list product
.list-collections {
    padding-bottom: 40px;
    
    .result {
        margin-bottom: 20px;
        h4 {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
        .hed-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 40px 0;

            h1 {
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
                
            }

            h3 {
                font-size: 1.6rem;
                font-weight: 400;
                color: #000;
                text-transform: inherit;
            }

            .dart-line {
                width: 70px;
                height: 3px;
                margin: 10px 0;
                background-color: #000;
            }

            .select{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                span {
                    select {
                        font-size: 1.4rem;
                        background-color: var(--white);
                        color: var(--back );
                        border-color: transparent;
                        border-bottom: 1px solid var(--black);
                        padding-bottom: 5px;
                        outline: 0;
                    }
                }
            }
        }
}

// Phân trang

.custom-pagination {
display: flex;
justify-content: center;
list-style: none;
padding: 0;
padding: 60px 0;
margin-bottom: 0;

.custom-pagination__active {
    opacity: 1 !important;
    cursor: default;
    pointer-events: none;
    background-color: #00b156!important;
    color: #fafafa;
}

.custom-pagination__disabled {
    cursor: default;
    pointer-events: none;
}

.custom-pagination__item {
    display: block;
    font-size: 1.8rem;
    text-decoration: none;
    opacity: 0.5;
    padding: 4px;
    margin: 0 4px;

    a {
        text-decoration: none;
        font-size: 1.5rem !important;
    }

    .custom-pagination__link {
        font-size: 1.8rem;
        color: var(--back);
        font-weight: bold;
        text-decoration: none;
        padding: 0 10px;
    }

}
}
