.content {
    background-color: #f9fafa;
    
}

.mySwiper {
    flex: none;
    margin-left: 5px;
}

.mySwiper .swiper-wrapper {
    display: flex;
    flex-direction: column;
}

.mySwiper .swiper-wrapper .wrap-img {
    width: 94px !important;
    height: 94px;
    margin-bottom: 10px;
}

.mySwiper .swiper-slide {
    width: 100px !important;
    height: 100px;
}


/* .mySwiper .swiper-slide-active {
    border: 1px solid #000;
} */

.mySwiper>.swiper-wrapper .swiper-slide-thumb-active {
    border: 1px solid #000;
    transition: border 2s ease-in-out;

} 

.swiper-slide-auto {
    width: 100%;
} 