.breadcrumb-shop {
    background-color: #fafafa;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
}

.breadcrumb {
    padding: 15px 0;       
    background-color: transparent;
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline-block;

        &:not(:first-child)::before {
            content: '/';
            color: #ccc;
            padding: 0 5px;
        }

       a {
        display: inline-block;
        span {
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: capitalize;
        }
       }
    }
}