.breadcrumb-shop {
    background-color: #fafafa;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
    margin-top: 20px;

    
        .breadcrumb {
            padding: 15px 0;       
            background-color: transparent;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: inline-block;

                &:not(:first-child)::before {
                    content: '/';
                    color: #ccc;
                    padding: 0 5px;
                }

               a {
                display: inline-block;
                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-transform: capitalize;
                }
               }
            }
        }
}



.product-detail {
    position: relative;
    height: 100%;
    .product-gallery {
        display: flex;
        justify-content: center;

        
        .div-detail {
            width: 90%;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    text-decoration: none;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .product-content {
        position: sticky;
        top: 15%;
        // padding: 0;
        height: 951px;
        .product-title{
            padding: 0 0 10px;
            border-bottom: 1px dotted #dfe0e1;

            h1 {
                font-size: 2rem;
                font-weight: 700;
                margin: 0 0 5px;
                line-height: initial;
                text-transform: capitalize;
            }

            p {
                display: flex;
                margin-bottom: 0 ;

                span {
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--text-color);
                    padding: 0 2px;
                }
            }
        }

        .product-price {
            padding: 10px 0;
            border-bottom: 1px dotted #dfe0e1;
            margin-bottom: 10px;

            .pro-price {
                font-size: 1.8rem;
                font-weight: bold;
            }

            del {
                font-size: 1.5rem;
                color: #777a7b;
                padding-left: 10px;
                font-weight: 500;
            }
        }

          

            .quantity {
                width: 100%;
                display: inline-block;

                .qty-btn {
                    float: left;
                    background: var(--white);
                    border: 1px solid #f3f4f4;
                    cursor: pointer;
                    outline: none;
                    height: 32px;
                    width: 32px;
                    color: var(--black);
                    font-size: 2.2rem;
                    padding: 0px;
                    font-weight: 700;
                    border-radius: 0;
                }

                .quantity-selector {
                    background: #fff;
                    font-weight: 600;
                    height: 32px;
                    padding: 0;
                    text-align: center;
                    width: 70px;
                    border: 1px solid #f3f4f4;
                    border-left: none;
                    border-right: none;
                    border-radius: 1px;
                    float: left;
                    -webkit-appearance: none;
                    color: var(--black);
                    font-size: 1.2rem;
                }
            }

            .wrap-addCart {
                width: 100%;
                margin-top: 10px;
    
                .cart-btn {
                    width: 100%;
                    font-weight: bold;
                    z-index: 1;
                    position: relative;
                    color: var(--text-color) !important;
                    padding: 15px 40px;
                    outline: none;
                    border: 1px solid var(--grey);
                    background-color: var(--black);
                    transition: all 0.25s ease-in-out;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    border-radius: 4px;


                    &::before {
                        content: '';
                        z-index: -1;
                        position: absolute;
                        inset: 0;
                        background-color: var(--white);
                        transform-origin: center right;
                        transform: scaleX(0);
                        transition: transform 0.25s ease-in-out;
                      }
                    
                      &:hover {
                        cursor: pointer;
                        color: #fff;
                      }
                    
                      &:hover::before {
                        transform-origin: center left;
                        transform: scaleY(1);
                      }
                }
            }

        .product-description {
            margin-top: 40px;

            .title {
                h2 {
                    font-size: 1.6rem;
                    color: var(--black);
                    font-weight: 600;
                    text-decoration: underline;
                }
            }

            .content-description{
                span {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
 

.clear {
    clear: both;
}